
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.aps
*.exe
*.tlog
*.log
*.ipch
*.opensdf
*.manifest
*.res
*.obj
*.pdb
*.pch
*.user
*.suo
*.sdf
*.ilk
*.lastbuildstate

*/Debug/*
*/Release/*
*/x64/*

Debug/*
Release/*
x64/*

input/*
output/*

*.ini
*.orig
*.bak
*.txt
*.tmp
*.cdt

*.vsp
*.psess
*.rule
*.dgml
