*.a
*.aps
*.bak
*.cd
*.cdt
*.dgml
*.exe
*.ilk
*.ini
*.ipch
*.la
*.lai
*.lastbuildstate
*.lo
*.log
*.manifest
*.o
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.psess
*.res
*.rule
*.sdf
*.slo
*.so
*.suo
*.tlog
*.tmp
*.txt
*.user
*.vsp

bin/*
Debug/*
Release/*
x64/*
input/*
output/*
ipch/*
*/Debug/*
*/Release/*
*.BASE
*.REMOTE
